// Colors

$white: #ffffff;
$blue: #2196f3;
$blue-hover: #1e88e5;

// Breakpoints

$screen-xxl: 1920px;
$screen-xl: 1600px;
$screen-lg: 1400px;
$screen-mxl: 1200px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 320px;

// Transitions

$main-transition: all 0.3s ease-in-out;