@use "@/styles/variables.module" as *;

.header {
  background-color: $blue;
  box-shadow: 0 4px 4px $grey-shadow;
  margin-bottom: 44px;

  @media(max-width: $screen-sm) {
    margin-bottom: 30px;
  }

  &__link {
    color: $white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding: 23px;
    transition: $main-transition;

    &:hover {
      background-color: $blue-hover;
    }

    &.isActive {
      background-color: $blue-hover;
    }
  }

  &__nav {
    display: flex;
  }
}